body {
  margin: 0;
}

@font-face {
  font-family: Roboto;
  src: url('./assets/font/Roboto-Regular.ttf');
}
@font-face {
  font-family: RobotoBold;
  src: url('./assets/font/Roboto-Bold.ttf');
}

body * {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto;
}

.light-theme {
  --color-bg: #e5e5e5;
  --color-bg-alt: #c1c1c1;
  --color-fg: #000;
  --color-fg-light: #646464;
  --color-fg-alt: #fff;
  --color-accent: #51e0be;
  --color-warning: #e05151;
  --color-input-bg: #e3e3e3;
  --color-border: #d1d0d0;
}
